PORT=3000

# Replace <YOUR_POSTGRES_PASSWORD> with the password you set during PostgreSQL installation.
# Use the database you created for this project.
DATABASE_URL="postgresql://postgres:<YOUR_POSTGRES_PASSWORD>@localhost:5432/microcredit_db?schema=public"

JWT_SECRET="your secret word"

